.login-bg{
  background-image: url("https://cdn.wallpapersafari.com/58/39/ABzUpR.jpg");
width: 100wh;
height: 100vh;
  background-repeat: no-repeat;
 font-family: "Open Sans";
}
.label{
    font-size: 20px;
    font-weight: 700;
    color: darkgoldenrod;
}
.input{
    color: blueviolet;
}
